header {
    background-image: url(https://st3.depositphotos.com/7809818/18472/v/1600/depositphotos_184724776-stock-illustration-graph-paper-black-or-grey.jpg);
    padding-bottom: 6em;
    padding-top: 6em;
    font-family: monospace;
    font-size: 1.5em;
}

h1 {
    margin-left: 4%;
    font-family: sans-serif;
}

span {
    margin-left: 8%;
    font-size: 1em;
}

#links {
    position: sticky;
    top: 0;
}

#links a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.left-grid a {
    color: black;

}

.left-grid h1 {
    font-family: sans-serif;
    margin-left: 0%;
}

.wrapper-black {
    width: 100vw;
    margin: 0 auto;
    background-color: black;
    font-family: sans-serif;
    padding-top: 2em;
    padding-bottom: 2em;
}

.wrapper-black h1 {
    color: white;
}

.wrapper-black h2 {
    color: white;

}

.wrapper-black-top {
    width: 100vw;
    margin: 0 auto;
    background-color: black;
    font-family: sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}

.inner {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, 25%)*/
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 5%;
    color: white;
}

.card {
    margin-left: 20%;
    color: white;
    text-decoration: none;
}

.card h2 {
    margin: 0;
}

.card p {}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#btn {
    border: 1px solid black;
    background: white;
    border-radius: 0;
    padding: .5em;
    box-shadow: -3px 3px #000;
    font-size: larger;
}

#btn:hover {
    margin-left: 1%;
    margin-bottom: 1%;
}

#details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 4%;
}

#small {
    font-size: 1em;
}
}

.grid2 {
    width: 100vw;
    margin: 0 auto;
    background-color: white;
}

.grid2 a {
    font-size: 1.5em;
}

#video-size {
    width: 730px;
    height: 500px;
    margin-top: center;
    padding: 20px;
}

.wrapper-white {
    border: 1px solid black;
    margin-left: 4%;
    box-shadow: -3px 3px #000;
    margin-bottom: 1em;
    margin-right: 4%;
    font-family: sans-serif;


}

.wrapper-white a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.wrapper-black a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;

}

.inner-2 {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, 25%)*/
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    color: black;
    margin-left: 2%;
}

.inner-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
    color: black;
    margin-left: 2%;
}

.grid-headings {
    margin-left: 2%;
    border-bottom: 1px solid grey;
    margin-right: 2%;
}

.card-2 {
    margin-left: 20%;
    color: white;
    text-decoration: none;
}

.images {
    height: 10%;
    width: 10%;
    margin-left: 4%;
    margin-top: 10px;
}

.chat {
    float: right;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    font-size: 4em;
}
.fa-comment-alt {
    color: grey;
}